name: tag and publish crate [manual]

on:
  workflow_dispatch:
    inputs:
      tag-increment:
        default: patch
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  publish:
    runs-on: macos-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - name: rustfmt check
        run: cargo fmt --all -- --check
      - name: cargo clippy
        run: cargo clippy --all-features --all-targets -- -D warnings
      - name: cargo test
        run: cargo test
      - name: install cargo bump
        run: cargo install cargo-bump
      - name: bump version
        run: cargo bump -g ${{ inputs.tag-increment }}
      - name: push
        run: git push && git push --tags
      - name: cargo publish
        run: cargo publish --token ${{ secrets.CRATES_TOKEN }}
